@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  /* Padding won't effect the width of the element */
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
